body, .wm_body_main
{
	background: #fff url(wm_body.gif);
	margin: auto;
	padding: 0px;
}

.wm_body
{
	background: white;
}

label
{
	cursor: pointer;
	cursor: hand;
}

img
{
	border: 0;
}

td
{
	margin: 0em;
	padding: 0em;
}

.wm_log_file
{
	padding: 8px 8px 0px 0px;
	font: 13px Tahoma, Arial, Helvetica, sans-serif;
	text-align: right;
}

.wm_space_before
{
	padding-top: 5px;
}

a.wm_reg
{
	color: #369;
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
}

a.wm_reg:hover
{
	color: red;
	text-decoration: underline;
}

.wm_dialog, .wm_mailadm_dialog, .wm_mailadm_console_dialog
{
	margin: 20px;
	background: white;
	border-collapse: collapse;
	border: solid 2px black;
}

.wm_mailadm_dialog_settings_header, .wm_dialog_redirect_header, .wm_mailadm_dialog_header, .wm_dialog_login_header
{
	padding: 6px;
	background-color: #D2D8DF;
	color: black;
	border: 0px;
	font: bold 12px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_mailadm_dialog_settings_header
{
	text-align: left;
}

.wm_dialog_mailadm_header, .wm_dialog_login_header, .wm_dialog_redirect_header
{
	text-align: right;
}

.wm_dialog_login_switcher
{
	padding-top: 4px;
	display: block;
	float: left;
}

.wm_dialog_login_button
{
	display: block;
	float: right;
}

.wm_dialog_login_field, .wm_dialog_field, .wm_dialog_hide_login_field, .wm_dialog_redirect_field
{
	padding: 4px;
	background: white;
	color: #369;
	border: 0px;
	border-bottom: solid 1px #D8D8CD;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_dialog_field
{
	text-align: right;
}

.wm_dialog_login_field
{
	text-align: left;
	vertical-align: middle;
}

.wm_dialog_hide_login_field
{
	text-align: right;
	vertical-align: top;
}

.wm_dialog_redirect_field
{
	text-align: right;
	vertical-align: middle;
}

.wm_dialog_button_field
{
	padding: 4px;
	background: white;
	border: 0px;	
	border-bottom: solid 1px #D8D8CD;
	text-align: right;
 	vertical-align: middle;
 }

.wm_dialog_edit, .wm_dialog_button_edit, .wm_dialog_edit_disabled
{
	padding: 4px;
	background: white;
	border: 0px;
	border-bottom: solid 1px #D8D8CD;
	color: black;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_dialog_edit, .wm_dialog_edit_disabled
{
	text-align: left;
}

.wm_dialog_edit_disabled
{
	color: #aaaaaa;
}

.wm_dialog_button_edit
{
	text-align: right;
}

.wm_accountslist
{
	width: 96%;
	border-collapse: collapse;
	border: none 1px;
}

.wm_accountslist_item, .wm_accountslist_item_selected
{
	padding: 6px;
	background: white;
	border: solid 1px black;
	font: bold 14px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_accountslist .wm_accountslist_item_selected
{
	float: left;
}

.wm_accountslist .wm_accountslist_item
{
	float: right;
}

a.wm_accountslist_item_link
{
	color: #369;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-align: left;
	text-decoration: none;
}

a.wm_accountslist_item_link:hover
{
	color: red;
	text-decoration: underline;
}

.wm_toolbar
{
	width: 96%;
	height: 26px;
	margin-bottom: 1px;
	padding-left: 1px;
	background: #eeeeec;
	border-collapse: collapse;
	border: solid 1px black;
}

.wm_toolbar_item
{
	padding: 3px 3px 3px 5px;
	float: left;
	display:block;
	border: 0px;	
	color: #212121;
	cursor: pointer;
	cursor: hand;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

.wm_toolbar_item_over
{
	padding: 2px 2px 2px 4px;
	float: left;
	display:block;
	background : #E9F2F8;
	color: #212121;
	border: solid 1px #369;
	cursor: pointer;
	cursor: hand;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

.wm_icon
{
	border: 0px;
	vertical-align : middle;
}

.wm_space_amount
{
	background: white;
	height: 2px;
	border: solid 1px #039;
	width: 100px;
}

.wm_email_space, .wm_email_space_indicator
{
	float: right;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
	padding: 3px;
}

.wm_email_space_indicator
{
	padding-top: 5px;
}

.wm_space_used
{
	background: red;
}

.wm_error_div{
	background: #FFFFFF;
	color: #BB0000;
	border: 2px solid #FF0000;
	font: 11px Tahoma;
	width: 250px;
	padding: 1px;
}

.wm_error_header{
	background: #BB0000;
	color: #FFFFFF;
	padding: 2px;
	padding: 8px;
	text-align: center;
}

.wm_error_text{
	padding: 8px;
}

.wm_error_button{
	margin-bottom: 4px;
	padding: 4px 8px 4px 8px;
	width: 30px;
	border: 1px solid #bb0000;
}

.wm_loading_div
{
	position: absolute;
	right: 10px;
	background: #BADBFF;
	color: #000000;
	font: 11px Tahoma;
	padding: 8px 24px 8px 24px;
}

.wm_list
{
	margin-bottom: 1px;
	border-collapse: collapse;
	border: solid 1px black;
	width: 96%;
}

.wm_messages
{
	margin: 0px;
	border-collapse: collapse;
	width: 100%;
}

.wm_list_center_header, .wm_list_left_header
{
	padding: 2px 2px 2px 4px;
	background: #D2D8DF;
	color: #10659E;
	font: bold 12px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_list_center_header
{
	text-align: center;
}

.wm_list_left_header
{
	text-align: left;
}

.wm_list_readitem, .wm_list_readitem_selected
{ 
	color: black;
	font: normal 11px Arial, Tahoma, Helvetica, sans-serif;
}

.wm_list_readitem
{
	background: white;
}

.wm_list_readitem_selected
{
	background: #DFE5F4;
}

.wm_list_center_cell, .wm_list_left_cell
{ 
	padding: 4px;
	border: solid #0684BF;
	border-width: 1px 0px 1px 0px;
}

.wm_list_left_cell
{
	text-align: left;
}

.wm_list_center_cell
{
	text-align: center;
}

.wm_list_subject
{ 
	overflow: hidden;
	width: 100%;
	height: 15px;
}

a.wm_list_item_link
{
	color: #369;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-align: left;
	text-decoration: none;
}

a.wm_list_item_link:hover
{
	color: red;
	text-decoration: underline;
}

.wm_attachment_gif
{
	width: 13px;
	height: 14px;
	border: 0px;
}

.wm_lowtoolbar
{
	width: 96%;
	background: #D2D8DF;
	border: none 1px white;
	color: black;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_message .wm_lowtoolbar
{
	border-style: solid
}

.wm_lowtoolbar_item, .wm_lowtoolbar_pages, .wm_lowtoolbar_headers
{
	padding: 0px 2px 5px 2px;
	display: block;
	color: black;
	font: normal 12px Tahoma, Arial, Helvetica, sans-serif;
	vertical-align: top;
}

.wm_lowtoolbar_item
{
	float: left;
	padding-left: 4px;
}

.wm_lowtoolbar_pages, .wm_lowtoolbar_headers
{
	float: right;
}

.wm_lowtoolbar_item_selected, .wm_lowtoolbar_page_selected
{
	padding: 0px 2px 5px 2px;
	color: black;
	font: bold 12px Tahoma, Arial, Helvetica, sans-serif;
	vertical-align: top;
}

.wm_lowtoolbar_item_selected
{
	float: left;
	display: block;
}

.wm_message
{
	width: 96%;
	margin-bottom: 1px;
	background: #eeeeee;
	border-collapse: collapse;
	border: solid 1px black;
}

.wm_new_message
{
	width: 100%;
}

.wm_view_message_data, .wm_new_message_data, .wm_message_importance
{
	margin: 1px;
	padding: 2px 2px 2px 4px;
	background: #D2D8DF;
	color: Black;
	border: solid 1px white;
	font: normal 12px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_message_importance
{
	width: 10%;
}

.wm_new_message_data, .wm_message_importance
{
	text-align: right;
}

.wm_view_message_data
{
	text-align: left;
}

.wm_message_value
{
	padding: 2px 2px 2px 4px;
	background: white;
	border: solid 1px #D2D8DF;
	color: black;
	font: normal 12px Tahoma, Arial, Helvetica, sans-serif;
	text-align: left;
}

.wm_message_body
{
	padding: 5px 5px 10px 5px;
	border: solid 1px white;
	background: white;
	color: black;
	font: normal 12px Tahoma, Arial, Helvetica, sans-serif;
	text-align: left;
}

.wm_message_body_
{
	background: white;
}

.wm_message_body_quotation
{
	color: Maroon;
}

.wm_message_rfc822
{
	margin-bottom: 10px;
	padding: 2px 2px 2px 4px;
	background: #F2F2F2;
	color: #212121;
	border: solid 1px #E0E0E0;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_attach
{
	width: 100%;
	background: #eeeeee;
	border-collapse: collapse;
	border: 0px;
}

.wm_attach_data,  .wm_new_attach_data
{
	padding: 2px 2px 2px 4px;
	background : #D2D8DF;
	color: black;
	border: solid 1px white;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_new_attach_data
{
	text-align: right;
}

.wm_attach_data
{
	text-align: left;
}

.wm_attach_value_icon, .wm_attach_value_text,  .wm_new_attach_value
{
	padding: 2px 2px 2px 4px;
	background: white;
	color: #003366;
	border: solid 1px #D2D8DF;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
	text-align: left;
}

.wm_attach_value_text
{
	width: 100%;
	border-left: 0px;
	border-right: solid 1px white;
}

.wm_attach_value_icon
{
	border-right: 0px;
}

.wm_file_icon
{
	width: 16px;
	height: 16px;
	border: 0px;
	vertical-align: middle;
}

.wm_regular, .wm_copyright
{
	color:#333;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_copyright
{
	margin: 30px;
	text-align: center;
}

.wm_file
{
	height: 23px; 
	background: #ffffff; 
	color: #222222;
	font: normal 13px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_button
{
	padding: 0px 4px 0px 4px;
	cursor: pointer;
	cursor: hand;
	color: black;
	font: bold 13px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_input, .wm_login_input
{
	background: white;
	color: black;
	border: 1px solid  #5B86A8;
	font: 13px Tahoma, Arial, Helvetica, sans-serif;
	text-indent: 1px;
}

.wm_login_input
{
	width: 99%;
}

.wm_print
{
	border-collapse: collapse;
	width: 96%;
}

.wm_print_content
{
	padding: 4px;
	background: white;
	color: black;
	border: solid 1px #666666;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
}

.wm_logo
{
	border: 0px;
	height: 20px;
}

.wm_info
{
	background : #ffffff;
	font: normal 11px Tahoma;
	color: #003366;
	border: none 1px #5D77BB;
	margin: 10px;
	padding: 6px;
}

.wm_info_id
{
	background : #ffffff;
	font: normal 11px Tahoma;
	color: #003366;
	border: solid 1px #808080;
	margin: 0px;
	padding: 6px;
}

